<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    
    <servlet>
        <servlet-name>JerseyServlet</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <!-- Indique le package contenant les services REST -->
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>Services;Front</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>JerseyServlet</servlet-name>
        <url-pattern>/ext/*</url-pattern>
    </servlet-mapping>
</web-app>
